h2 
{
	color: brown;
}
h3
{
	color: brown;
}

body
{
background-color: black;
}
#acceuil
{
width: 800px;
margin:0 auto;
background-color: white;
text-align:center;
align-content: center;	
}